/* ----------------------------
    NAVIGATION SECTION
 * --------------------------- */
nav.header {
    padding: 36px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.header .buttons {
    padding: 0;
    margin: 0 auto;
}

nav.header .buttons > button {
    margin: 0 6px
}
nav.header > img {
    display: inline;
}

nav.header .nav-items {
    list-style-type: none;
    display: inline;
}

nav.header .nav-items > li {
    display: inline-flex;
    padding: 0 20px
}

nav.header .nav-items a {
    text-decoration: none;
    color: #252021;
}
/* ----------------------------
    MAIN HEADER SECTION
   ---------------------------- */
section.header {
    padding: 40px 50px;
    /* Need for the absolute spacing */
    position: relative;
    z-index: 3;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

section.header .padding {
    width: 100px;
    height: 100%;
}

/** Input field section in the header **/

section.header .input-section {
    margin: 0 auto;
    padding:4em 0;
}

section.header div.input-fields {
    display: flex;
    padding: 0px;
    margin: 0px;
}

section.header div.input-fields > * {
    padding: 0;
    margin: 0;
    padding-right: 20px; 
}

/**  Setting the relative spacing */
.back-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -3;
}

/** Sample responsiveness **/
@media(min-width: 700px) {
    section.header {
        padding: 40px 150px;
    }

    .back-image {
        position: absolute;
        top: 0;
        right: 550px;
        z-index: -3;
    }
}